page-about {
  p {
    line-height: 2;
    font-family: 'Patrick Hand', cursive !important;
    font-size: 18px !important;
  }

  ion-label.label {
    font-family: 'Poor Story', cursive !important;
  }
}
