page-mathtionary {
  ion-searchbar.searchbar {
    position: sticky;
    top: 0;
    z-index: 100;
    background: #cfecea;
  }

  ion-list.list {
    /*margin-top: 50px;*/
  }

  h2 {
    font-size: 20px !important;
    text-transform: capitalize;
  }
}
